{% extends 'base.html' %}

{% block cambio %}
<div>
    <form action="/app/buscar_distribuidor/" method="GET">

        <input type="text" name="Distribuidor">
        <input type="submit" value="Buscar">

    </form>
</div>
<p>
    <a href="{% url 'cursocreate' %}"> Crear distribuidor</a>
</p>
    {% for distribuidor in object_list %}
        <h2>El distribuidor es: </h2>
        <p class="lead mb-0">
            {{distribuidor.nombre}} su telefono es {{distribuidor.telefono}}
        </p>
        <p>
            <a href="{% url 'detalle' distribuidor.id %}">Detalles</a>
        </p>
        <p>
            <a href="{% url 'actualizar' distribuidor.id %}">Actualizar</a>
        </p>
        <p>
            <a href="{% url 'eliminar' distribuidor.id %}">Eliminar</a>
        </p>
        <hr>
    {% endfor %}
{% endblock %}